@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff'),
         url('../fonts/raleway-medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff'),
         url('../fonts/raleway-extrabold.ttf') format('ttf');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
}

h1,
h2,
h3,
p,
span {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

/* плавный переход для кнопок */

.logo:hover,
.logo-img:hover,
.main-nav-item:hover .main-nav-link,
.carusel-arrow:hover,
.carusel-btn:hover,
.header-search-form-label:hover .header-form-img,
.carusel-pagination-item:hover,
.project-btn:hover {
    transition: all .2s ease-in-out;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.header-page {
    padding: 40px 0;
    min-height: 1024px;
    background: #3a3d40 url('../img/header_bg.jpg') no-repeat center/cover;
}

.header-page-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 170px;
    height: 55px;
    flex: 1 0 auto
}

.logo-img {
    position: absolute;
    fill: #ffffff;
}

.logo-title {
    padding-left: 60px;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1px;
}

.logo:hover {
    opacity: .8;
}

.logo:active {
    opacity: .5;
}

.main-nav {
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.main-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
    font-weight: 300;
    font-size: 14px;
    list-style: none;
}

.main-nav-item {
    width: 100%;
}

.main-nav-item:hover .main-nav-link {
    color: #c7b299;
}

.main-nav-item:active .main-nav-link {
    color: #f3dabb;
}

.main-nav-link {
    display: block;
    padding: 20px;
    white-space: nowrap;
}

.header-search-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
}

.header-card-btn {
    margin: 0 28px 0 0;
    outline: none;
    border: none;
    background: transparent;
}

.header-form {
    position: relative;
}

.header-search-form-label {
    display: block;
    width: 100%;
    height: 100%;
}

.header-search-form-label:hover .header-form-img {
    fill: #c7b299;
}

.header-search-form-label:active .header-form-img {
    fill: #f3dabb;
}

.header-card-img,
.header-form-img {
    fill: #fff;
    cursor: pointer;
}

.header-card-img:hover {
    fill: #c7b299;
}

.header-card-img:active {
    fill: #f3dabb;
}

input[type="search"] {
    position: absolute;
    top: 35px;
    left: -130px;
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: capitalize;
}

input[type="search"]:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 1px solid #fff;
}

input[type="search"]:focus ~ .header-search-form-label>.header-form-img {
    fill: #c7b299;
}

.carusel {
    position: relative;
    margin: 280px 0 0 0;
}

.carusel-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
}

.carusel-arrow:hover {
    border-color: #d4bda7;
}

.carusel-arrow:active {
    border-color: #c2ab96;
}

.arrow-left {
    border-top: 3px solid #a3a2a0;
    border-left: 3px solid #a3a2a0;
    transform: rotate(-45deg);
    top: 122px;
    left: 0;
}

.arrow-right {
    border-top: 3px solid #a3a2a0;
    border-right: 3px solid #a3a2a0;
    transform: rotate(45deg);
    top: 122px;
    right: 0;
}

.carusel-wrapper-text {
    text-align: center;
}

.carusel-subheader {
    font-weight: 500;
    font-size: 36px;
}

.carusel-header {
    margin: 5px 0 10px 0;
    font-weight: 800;
    font-size: 52px;
}

.carusel-text {
    margin: 0 auto;
    max-width: 561px;
    font-family: 'montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 2em;
}

.carusel-btn,
.project-btn {
    width: 170px;
    display: block;
    margin: 53px auto 0;
    padding: 20px;
    font-weight: 800;
    border-radius: 5px;
    background: #998675;
    text-transform: uppercase;
}

.carusel-btn:hover,
.project-btn:hover {
    background: #d4bda7;
}

.carusel-btn:active,
.project-btn:active {
    background: #c2ab96;
}

.carusel-pagination {
    margin: 325px auto 0;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.carusel-pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
}

.carusel-pagination-item:hover {
    background-color: transparent;
    border: 2px solid gold;
    transform: scale(1.2);
}

.services {
    padding: 80px 0;
}

.service_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item {
    display: flex;
    width: 23%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.service-item:last-of-type {
    margin-right: 0;
}

.service-img {
    fill: #565656;
}

.service-title {
    margin: 25px 0 0 0;
    font-weight: 600;
    font-size: 22px;
    color: #555555;
}

.service-text {
    max-width: 100%;
    margin: 15px 0 0 0;
    font-family: 'montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
    color: #8b8b8b;
}


.service-item:after {
    content: "";
    display: block;
    margin: 32px 0 0 0;
    width: 70px;
    height: 2px;
    background: #f0ede9;
}

.service-item:hover:after {
    background: #c0b199;
}

.service-item:hover .service-title {
    color: #c0b199;
}

.service-item:hover .service-img {
    fill: #c0b199;
}

.service-item:hover:after,
.service-item:hover .service-title,
.service-item:hover .service-img {
    transition: all .2s ease-in-out;
}

.about {
    padding: 80px 0 0 0;
}

.about-wrapper {
    text-align: center;
}

.about-title,
.project-title {
    font-weight: 600;
    font-size: 30px;
    color: #565656;
}

.about-text,
.project-text,
.posts-text {
    margin: 15px auto 30px;
    max-width: 770px;
    font-family: 'montserrat';
    font-weight: 300;
    line-height: 2em;
    color: #8c8c8c;
}

.about-img {
    max-width: 100%;
    height: 482px;
    background: 
    url("../img/browser_center_bg.jpg") no-repeat center bottom,
    url("../img/browser_right_bg.jpg") no-repeat right bottom,
    url("../img/browser_left_bg.jpg") no-repeat left bottom;
}

.adv {
    padding: 48px 0;
    background: linear-gradient(to right, rgba(40,35,33,1) 0%, rgba(40,35,33,1) 28%, rgba(72,54,43,1) 71%, rgba(72,54,43,1) 100%);
}

.adv-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.adv-title {
    font-size: 28px;
    font-weight: 400;
}

.adv-title-high {
    color: #c0b099;
}

.adv-text {
    margin: 5px 0 0 0;
    font-family: 'montserrat';
    font-size: 18px;
    font-weight: 300;
    color: #5f5856;
}

.adv-btn {
    display: block;
    padding: 0 28px;
    width: 170px;
    font-size: 14px;
    font-weight: 800;
    line-height: 3.3em;
    text-align: center;
    background: #928575;
    border-radius: 3px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.adv-btn:hover {
    background: #c7b299;
    transition: all .2s ease-in-out;
}

.adv-btn:active {
    background: #c2ab96; 
}

.projects {
    padding: 80px 0;
    text-align: center;
}

.project-menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
}

.project-menu-link {
    display: block;
    padding: 10px 27px;
    margin: 0 10px 0 0;
    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.project-menu-link-active {
    border-color: transparent;
    background: #998675;
    color: #fff;
}

.project-menu-link:last-child {
    margin: 0;
}

.project-menu-link:hover {
    border-color: transparent;
    background: #998675;
    color: #fff;
    transition: all .2s ease-in-out;
}

.project-menu-link:active {
    border-color: transparent;
    background: #f3dabb;
    color: #fff;
}

.project-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}

.project-card {
    position: relative;
    max-width: 30%;
}

.project-card:hover .project-card-img {
    filter: brightness(70%);
    transition: all .2s ease-in-out;
}

.project-card:hover .project-txt-wrp {
    background: #362f2d;
    transition: all .2s ease-in-out;
}

.project-card:hover .project-txt-wrp:before {
    border-bottom: 10px solid #362f2d;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transition: all .2s ease-in-out;
}

.project-card:nth-child(4),
.project-card:nth-child(5),
.project-card:nth-child(6) {
    margin: 30px 0 0 0;
}

.project-card-img {
    display: block;
    width: 100%;
}

.project-txt-wrp {
    position: relative;
    padding: 25px;
}

.project-txt-wrp:before {
    position: absolute;
    content: "";
    display: block;
    top: -9px;
    left: 17px;
    border: none;
    border-bottom: 10px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.project-card-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
}

.project-desc {
    font-family: 'montserat';
    font-size: 14px;
    font-weight: 300;
    color: #d1d1d1;
}

.project-card-btn-link,
.project-card-btn-search {
    position: absolute;
    display: none;
    top: 105px;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.project-card:hover .project-card-btn-link,
.project-card:hover .project-card-btn-search {
    display: block; 
}

.project-card-btn-link {
    left: 140px
}

.project-card-btn-search {
    right: 155px;
}

.project-card-btn-link > .project-btn-link-img,
.project-card-btn-search > .project-btn-search-img{
    fill: #fff;
}

.project-card-btn-link:hover .project-btn-link-img,
.project-card-btn-search:hover .project-btn-search-img {
    fill: #c7b299;
    transition: fill .2s ease-in-out;
}


.project-card-btn-link:active .project-btn-link-img,
.project-card-btn-search:active .project-btn-search-img {
    fill: #c2ab96;
}

.video {
    position: relative;
    min-height: 705px;
}

.video-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-btn {
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
.video-btn-icon {
    margin: auto;
    fill: #fff;
}

.video-btn:hover .video-btn-icon {
    fill: coral;
    transition: fill .2s ease-in-out;
}

.video-btn:active .video-btn-icon {
    fill: bisque;
}

.video-wrp {
    display: flex;
    margin: auto;
    padding: 210px 0 0 0;
    width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.video-title {
    margin: 20px 0 0 0;
    font-weight: 500;
    font-size: 30px;
}

.video-text {
    margin: 25px 0 40px 0;
    font-family: 'montserrat';
    font-weight: 300;
    line-height: 2em;
}

.video-time {
    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #e7ceaf;
}

.devices {
    min-height: 695px;
}

.devices-wrp {
    padding: 194px 0 175px 500px;
    background:  url("../img/devices_bg.png") no-repeat 5% bottom;
}

.devices-title,
.posts-title {
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}

.devices-text {
    font-family: 'montserrat';
    font-weight: 300;
    margin: 25px 0 0 0;
    line-height: 2em;
    color: #8c8c8c;
}

.devisec-list {
    margin: 70px 0 0 48px;
    padding: 0 0 0 50px;
    color: #8c8c8c;
    line-height: 2em;
    list-style: none;
}

.devices-item {
    position: relative;
    font-family: 'montserrat';
    font-weight: 300;
}

.devices-item:before {
    content:"\203A";
    position: absolute;
    top: 5px;
    left: -50px;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 28px;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
    background: #c7b299;
    text-align: center;
}

.counters {
    padding: 65px 0 60px 0;
    background: linear-gradient(to right, rgba(40,35,33,1) 0%, rgba(40,35,33,1) 28%, rgba(72,54,43,1) 71%, rgba(72,54,43,1) 100%);
}

.counters_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.counters-item {
    display: flex;
    margin: 0 72px 0 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.counters-item:last-child {
    margin: 0;
}

.counters-item:after {
    content: "";
    display: block;
    margin: 32px 0 0 0;
    width: 30px;
    height: 2px;
    background: #f0ede9;
}

.counters-item:hover:after {
    background: #c0b199;
}

.counters-item:hover .counters-img {
    fill: #918574;
}

.counters-item:hover:after, .counters-img {
    transition: all .2s ease-in-out;
}

.counters-img {
    fill: #c7b299;
}

.counters-title {
    margin: 20px 0 10px;
    font-family: 'montserrat';
    font-size: 48px;
    font-weight: 300;
}

.counters-text {
    font-family: 'montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    text-transform: uppercase;
}

.posts {
    padding: 82px 0;
}

.posts-title,
.posts-text {
    text-align: center;
}

.posts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.posts-item {
    position: relative;
    width: 32%;
}

.posts-img {
    display: block;
    width: 100%;
    transition: filter .2s ease-in-out;
}

.posts-date-wrp {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
}

.post-date-number {
    display: block;
    padding: 10px;
    font-family: 'montserrat';
    font-size: 24px;
    font-weight: 300;
    background: #363636;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: background .2s ease-in-out;
}

.post-date-month {
    display: block;
    padding: 5px;
    font-family: 'roboto';
    font-weight: 400;
    background: #252525;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background .2s ease-in-out;   
}

.posts-item-text-wrp {
    padding: 26px 0 32px 26px;
    transition: background .2s ease-in-out;
}

.post-item-title {
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    transition: color .2s ease-in-out;
}

.post-item-text {
    margin: 15px 0 20px 0;
    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 2em;
    color: #8c8c8c;
    transition: color .2s ease-in-out;
}

.post-item-link,
.footer-logo-excerpt {
    position: relative;
    padding: 0 15px 0 0;
    font-family: 'montserrat';
    font-weight: 300;
    color: #c7b299;
    transition: color .2s ease-in-out;
}

.post-item-link:after,
.footer-logo-excerpt:after {
    position: absolute;
    top: -8px;
    right: 0;
    content: "\25b8";
    display: block;
    font-size: 20px;
    color: #c7b299;
    transition: color .2s ease-in-out;
}

.post-item-link:hover,
.post-item-link:hover:after {
    color: #e2caac;
}

.posts-item:active .post-item-link {
    color: #9b8a75;
}

.posts-item:hover .posts-img {
    filter: brightness(70%);
}

.posts-item:hover .post-date-number {
    background: #c7b299;
}

.posts-item:hover .post-date-month {
    background: #a48d72;
}

.posts-item:hover .post-item-title{
    color: #978675;
}

.posts-item:hover .post-item-text {
    color: #fff;
}

.posts-item:hover .posts-item-text-wrp {
    background: #362f2d;
}

.posts-pagination {
    margin: 40px auto 0;
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.posts-pagination-item {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    border: 2px solid #c7b299;
    border-radius: 50%;
    background: transparent;
    transition: border .2s ease-in-out;
}

.posts-pagination-item:before {
    position: absolute;
    content:"\203A";
    top: -13px;
    left: 4px;
    font-size: 35px;
    color: #c7b299;
    transition: color .2s ease-in-out;
}

.posts-pagination-item:first-child:before {
    content:"\2039";
}

.posts-pagination-item:hover {
    border: 2px solid #d1d1d1;
}

.posts-pagination-item:active {
    border: 2px solid #ce9e9e;
}

.posts-pagination-item:hover:before {
    color: #d1d1d1;
}

.posts-pagination-item:active:before {
    color: #ce9e9e;
}

.partners {
    min-height: 490px;
    background: #555556 url("../img/partners_bg.jpg") no-repeat center center/ cover;
}

.partners-wrp {
    display: flex;
    padding: 140px 0 0 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.partners-img {
    display: block;
    height: auto;
}

.partners-img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.footer-page {
    color: #555;
}

.footer-top {
    font-family: 'montserrat';
    padding: 80px 0 90px 0;
    background: #191919;
}

.footer-page-flex-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo-wrp {
    max-width: 265px;
}

.footer-logo-desc {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}

.footer-logo-excerpt {
    color: #ffffff;
}

.footer-logo-excerpt:hover {
    color: #ce8b8b;
}

.footer-logo-excerpt:hover:after {
    color: #ce8b8b;
}

.footer-menu {
    max-width: 270px;
    margin: 20px 0 0 0;
}

.footer-menu-title {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700px;
    color: #ffffff;
}

.footer-menu-wrp {
    display: block;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #252525;
}

.footer-posts-data {
    font-size: 12px;
    font-weight: 300;
    color: #555;
    transition: color .2s ease-in-out;
}

.footer-posts-txt {
    margin: 7px 0 0 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    transition: color .2s ease-in-out;
}

.footer-menu-wrp:hover .footer-posts-data {
    color: #ffffff;
}

.footer-menu-wrp:hover .footer-posts-txt {
    color: #c7b299;
}

.footer-menu-wrp:active .footer-posts-data {
    color: #aca3a3;
}

.footer-menu-wrp:active .footer-posts-txt {
    color: #968572;
}

.footer-twitter-txt {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}

.twitter-link {
    color: #0793b9;
    transition: color .2s ease-in-out;
}

.twitter-link:hover {
    color: #10c2f3;
}

.twitter-link:active {
    color: #084353;
}

.footer-twitter-time {
    display: block;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 300;
}

.footer-twitter-txt-link {
    color: #959595;
    transition: color .2s ease-in-out;
}

.footer-twitter-txt-link:hover {
    color: #ffffff;
}

.footer-twitter-txt-link:active {
    color: #a89e9e;
}

.footer-widget-wrp {
    max-width: 285px;
    margin: 20px 0 0 0;
}

.widget-title {
    margin: 0 0 20px 0;
    width: 100%;
}

.footer-widget-img {
    margin: 5px;
}

.footer-widget-link {
    transition: filter .2s ease-in-out;
}

.footer-widget-link:hover {
    filter: brightness(30%);
}

.footer-widget-link:active {
    filter: brightness(20%);
}

.footer-bottom {
    padding: 45px 0;
    background: #111111;  
}

.footer-bottom-links {
    font-size: 13px;
}

.footer-bottom-link {
    color: #555555;
    transition: color .2s ease-in-out;
}

.footer-bottom-title-light {
    color: #959595;
}

.footer-bottom-link:hover {
    color: #c7b299;
}

.footer-bottom-link:active {
    color: #726453;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1100px;
    }

    .project-card-btn-link,
    .project-card-btn-search {
        top: 105px;
    }

    .project-card-btn-search {
        right: 130px;
    }

    .project-card-btn-link {
        left: 100px;
    }

    .footer-widget-img {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 1050px) {
    .container {
        max-width: 940px;
    }

    .main-nav-link {
        padding: 10px;
    }

    .service-item {
        width: 32%;
    }

    .service-item:nth-child(2n) {
        margin: 0;
    }

    .service-item:nth-child(1),
    .service-item:nth-child(2) {
        margin-bottom: 30px;
    }

    .project-card-img {
        height: auto;
        object-fit: scale-down;
    }

    .devices-wrp {
        padding: 150px 0 175px 282px;
        background-position: 1% bottom;
        background-size: 360px;
    }

    .project-card-btn-link,
    .project-card-btn-search {
        top: 85px;
    }

    .project-card-btn-search {
        right: 170px;
    }

    .project-card-btn-link {
        left: 150px;
    }

    .footer-logo-wrp {
        margin-right: 10px;
    }

    .footer-logo-desc {
        margin: 30px 0;
    }

    .footer-menu {
        margin-right: 10px;
    }

    .footer-menu-title {
        font-size: 22px;
    }

    .footer-posts-txt,
    .footer-twitter-txt,
    .footer-logo-desc {
        font-size: 12px;
    }

    .footer-widget-img {
        width: 42%;
        height: auto;
    }
}

@media (max-width: 896px) {
    .container {
        max-width: 785px;
    }

    .header-page {
        min-height: 725px;
    }

    .logo {
        margin: 0 0 15px 0;
    }

    .header-page-top {
        flex-direction: column;
    }

    .carusel {
        margin: 76px 0 0 0;
    }

    .carusel-subheader {
        font-size: 34px;
    }

    .carusel-header {
        font-size: 50px;
    }

    .carusel-pagination {
        margin: 144px auto 0;
    }

    .project-card-btn-link,
    .project-card-btn-search {
        top: 70px;
    }

    .project-card-btn-link {
        left: 120px;
    }

    .project-card-btn-search {
        right: 140px;
    }

    .devices-wrp {
        padding: 106px 0 108px 238px;
        background-size: 265px;
    }

    .counters_wrapper {
        flex-wrap: nowrap;
    }

    .counters-item {
        margin: 0px 26px 0 0;
        width: 15%;
        white-space: nowrap;
    }

    .counters-title {
        font-size: 45px;
    }

    .counters-text {
        font-size: 12px;
    }

    .counters-item:after {
        margin: 22px 0 0 0;
    }

    .posts-img {
        height: auto;
    }

    .partners {
        min-height: 420px;
    }

    .partners-img {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .header-page {
        min-height: 686px;
    }

    .carusel-subheader {
        font-size: 28px;
    }

    .carusel-header {
        font-size: 42px;
    }

    .carusel-text {
        max-width: 500px;
    }

    .carusel-pagination {
        margin: 105px auto 0;
    }

    .carusel-btn,
    .project-btn {
        padding: 18px;
    }

    .arrow-left {
        left: 15px;
    }

    .arrow-right {
        right: 15px;
    }

    .project-card-btn-link,
    .project-card-btn-search {
        top: 60px;
    }

    .project-card-btn-link {
        left: 120px;
    }

    .project-card-btn-search {
        right: 130px;
    }

    .adv-wrapper {
        flex-direction: column;
    }

    .adv-text-inner {
        margin: auto;
        text-align: center;
    }

    .adv-btn {
        margin: 10px auto 0;
    }
}

@media (max-width: 686px) {
    .header-page-top {
        padding: 0 15px;
        flex-direction: row;
    }

    .logo {
        flex: 0 0 auto;
    }

    .menu-btn {
        position: absolute;
        top: -50px;
        right: 0;
        width: 25px;
        height: 20px;
        cursor: pointer;
        z-index: 2
    }
    
    .menu-btn > span,
    .menu-btn > span:before,
    .menu-btn > span:after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transition-duration: .25s;
        top: 10px;
    }
    
    .menu-btn > span:before {
        content:'';
        top: -10px;
    }
    
    .menu-btn > span:after {
        content:'';
        top: 10px;
    }

    input[type="checkbox"]:checked ~ .main-nav-list {
        visibility: visible;
        right: 0;
    }
    
    input[type="checkbox"]:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked ~ .menu-btn > span:before {
        top: 0;
        transform: rotate(0);
    }

    input[type="checkbox"]:checked ~ .menu-btn > span:after {
        top: 0;
        transform: rotate(90deg);
    }

    .main-nav {
        position: relative;
        width: 100%;
    }

    .main-nav-list {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        right: -100%;
        padding: 80px 0;
        visibility: hidden;
        background: #000;
        z-index: 1;
        transition-duration: .25s;
    }

    .main-nav-link {
        transition-duration: .25s;
    }

    .header-search-wrapper {
        width: 100%;
        justify-content: center;
    }

    input[type="search"] {
        left: -190px;
    }
    
    input[type="search"]:focus {
        width: 300px;
    }

    .service-item {
        width: 46%;
    }

    .project-menu-list {
        flex-direction: column;
    }

    .project-menu-link {
        margin: 0;
    }

    .project-card-btn-link,
    .project-card-btn-search {
        top: 50px;
    }

    .project-card-btn-link {
        left: 100px;
    }

    .project-card-btn-search {
        right: 120px;
    }

    .project-card-wrapper {
        justify-content: space-evenly;
    }

    .project-card {
        max-width: 45%;
    }

    .project-card:nth-child(4),
    .project-card:nth-child(5),
    .project-card:nth-child(6) {
        margin: 0;
    }

    .footer-page-flex-container {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media (max-width: 425px) {
    .header-page {
        min-height: 100px;
    }

    .counters {
        display: none;
    }

    .carusel,
    .video,
    .adv,
    .partners,
    .about-img {
        display: none;
    }

    .service-item {
        width: 100%;
        margin-right: 0;
    }

    .service-item:nth-child(3) {
        margin-bottom: 30px;
    }

    .posts-item {
        width: 100%;
    }

    .project-card {
        max-width: 100%;
    }

    .project-card-btn-link,
    .project-card-btn-search {
        top: 90px;
    }

    .devices-title,
    .posts-title {
        text-align: center;
    }

    .devices-wrp {
        padding: 0;
        background: none;
    }

    .devisec-list {
        margin: 68px 0 0 0px;
    }

    .devices-text {
        text-align: center;
    }

    .devisec-list {
        max-width: 260px;
    }

    .footer-bottom-links {
        font-size: 10px;
    }
}